200x200_24bpp.bmp
bmp_to_epaper.vcxproj.user
200x200_24bpp.bmp
bmp_to_epaper.sln
bmp_to_epaper.vcxproj
bmp_to_epaper.vcxproj.filters
CFAP128296B0-0290_boot.bmp
CFAP128296B0-0290_boot.h
Demo_Image_2p13_black_red.bmp
Demo_Image_2p13_black_red_small.bmp
Debug/stdafx.obj
Thumbs.db
.vs/bmp_to_epaper/v15/.suo
converted pics/152x152_24bpp.bmp
converted pics/152x152_24bpp.h
converted pics/200x200_24bpp.h
converted pics/Demo_Image_2p13_black_red.h
converted pics/RandomShapes.bmp
converted pics/RandomShapes.h
Debug/bmp_to_epaper.ilk
Debug/bmp_to_epaper.log
Debug/bmp_to_epaper.obj
Debug/bmp_to_epaper.pch
Debug/bmp_to_epaper.pdb
Debug/bmp_to_epaper.Build.CppClean.log
Debug/bmp_to_epaper.obj.enc
Debug/ModuleType.obj
Debug/moduletype.obj.enc
Debug/vc141.idb
Debug/vc141.pdb
Debug/bmp_to_epaper.tlog/link.command.1.tlog
Debug/bmp_to_epaper.tlog/bmp_to_epaper.lastbuildstate
Debug/bmp_to_epaper.tlog/CL.command.1.tlog
Debug/bmp_to_epaper.tlog/CL.read.1.tlog
Debug/bmp_to_epaper.tlog/CL.write.1.tlog
Debug/bmp_to_epaper.tlog/link.read.1.tlog
Debug/bmp_to_epaper.tlog/link.write.1.tlog
Release/GRAY_AND_RED/bmp_to_epaper.lastbuildstate
Release/GRAY_AND_RED/bmp_to_epaper.log
Release/GRAY_AND_RED/bmp_to_epaper.obj
Release/GRAY_AND_RED/bmp_to_epaper.write.1.tlog
Release/GRAY_AND_RED/cl.command.1.tlog
Release/GRAY_AND_RED/CL.read.1.tlog
Release/GRAY_AND_RED/CL.write.1.tlog
Release/GRAY_AND_RED/GRAY_AND_RED.pch
Release/GRAY_AND_RED/GRAY_AND_RED.exe.intermediate.manifest
Release/GRAY_AND_RED/link.command.1.tlog
Release/GRAY_AND_RED/link.read.1.tlog
Release/GRAY_AND_RED/link.write.1.tlog
Release/GRAY_AND_RED/mt.command.1.tlog
Release/GRAY_AND_RED/mt.read.1.tlog
Release/GRAY_AND_RED/mt.write.1.tlog
Release/GRAY_AND_RED/stdafx.obj
Release/GRAY_AND_RED/vc100.pdb
Release/GRAY_ONLY/bmp_to_epaper.lastbuildstate
Release/GRAY_ONLY/bmp_to_epaper.log
Release/GRAY_ONLY/bmp_to_epaper.obj
Release/GRAY_ONLY/bmp_to_epaper.write.1.tlog
Release/GRAY_ONLY/cl.command.1.tlog
Release/GRAY_ONLY/CL.read.1.tlog
Release/GRAY_ONLY/CL.write.1.tlog
Release/GRAY_ONLY/GRAY_ONLY.pch
Release/GRAY_ONLY/GRAY_ONLY.exe.intermediate.manifest
Release/GRAY_ONLY/link.command.1.tlog
Release/GRAY_ONLY/link.read.1.tlog
Release/GRAY_ONLY/link.write.1.tlog
Release/GRAY_ONLY/mt.command.1.tlog
Release/GRAY_ONLY/mt.read.1.tlog
Release/GRAY_ONLY/mt.write.1.tlog
Release/GRAY_ONLY/stdafx.obj
Release/GRAY_ONLY/vc100.pdb
Release/MONO/bmp_to_epaper.lastbuildstate
Release/MONO/bmp_to_epaper.log
Release/MONO/bmp_to_epaper.obj
Release/MONO/bmp_to_epaper.write.1.tlog
Release/MONO/cl.command.1.tlog
Release/MONO/CL.read.1.tlog
Release/MONO/CL.write.1.tlog
Release/MONO/link.command.1.tlog
Release/MONO/link.read.1.tlog
Release/MONO/link.write.1.tlog
Release/MONO/MONO.pch
Release/MONO/MONO.exe.intermediate.manifest
Release/MONO/mt.command.1.tlog
Release/MONO/mt.read.1.tlog
Release/MONO/mt.write.1.tlog
Release/MONO/stdafx.obj
Release/MONO/vc100.pdb
/converted pics
/Debug/bmp_to_epaper.exe
/CFAP152152A0-0154-Splash.h
/.svn
/.vs/bmp_to_epaper/v15
/bmp_to_epaper/.vs/bmp_to_epaper/v15
/bmp_to_epaper/converted pics
/bmp_to_epaper/Debug
/bmp_to_epaper/Release
/bmp_to_epaper_GUI/Debug
/bmp_to_epaper_GUI/Release
/.vs/bmp_to_epaper/v16
